<!{{?page-title}}>首頁<!{{/page-title}}>

<!{{?content}}>
  <button onclick="asLiveApp.run()">直播</button>
  <script type="application/javascript" src="/dist/js/asLive.js"></script>
  <script>
    var asLiveApp = new asLive({
      apiKey: '123456789012'
    });
  </script>
<!{{/content}}>